.appointment {
  max-width: 185px;
  height: 90px;
  margin: 7px auto;
  border-radius: 3px;
  background-color: rgb(112, 112, 112);
  transition: 0.5s;
}

.appointment:hover {
  box-shadow: rgba(29, 29, 29, 1) 0px 5px 15px;
}

.appointment a {
  text-decoration: none;
}

.appointment a h3 span {
  color: rgb(44, 221, 0);
}

.appointment a h3 {
  transition: .4s;
  padding: 0.5rem 0 0.2rem;
  text-align: center;
  color: rgb(241, 241, 241);
}

.appointment a h3:hover {
  color: rgb(83, 241, 43);
}

.title a h6 {
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  transition: .4s;
}

.title a h6:hover {
  color: rgb(44, 221, 0);
}

.appointment div {
  display: flex;
  justify-content: space-around;

  margin-top: 6px;
  font-weight: bold;
}

.info {
  align-items: center;
  padding: 0.2rem;
}

.info p {
  font-size: 0.9rem;
  color: rgb(238, 238, 238);
}

.info p i {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(206, 206, 206)
}

.info p span {
  font-size: 0.75rem;
}
