.form {
  width: 500px;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  text-align: center;

  background-color: rgb(70, 70, 70);
}

.select-container select {
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  
  appearance: none;
  padding: 0.9rem;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  outline: none;
  border: none;

  color: rgb(255, 255, 255);
  background-color: rgb(48, 48, 48);
}

.select-container select option { 
  padding: 0.9rem;
  font-weight: bold;
  color: rgb(255, 255, 255);

  padding: 80px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.form-group input {
  width: 400px;
  margin-top: 0.5rem;
  border: none;
  padding: 0.9rem;

  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 7px;

  color: rgb(255, 255, 255);
  background-color: rgb(48, 48, 48);
}

.form-group input:focus {
  background-color: rgb(39, 39, 39);
  outline: none;
}

.form input[type="submit"] {
  width: 200px;

  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;

  font-size: 1rem;
  font-weight: bold;

  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);

  transition: .5s;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  
  color: rgb(59, 248, 59);
  background-color: rgb(24, 24, 24);
}

.form-group label{
  display: block;

  font-weight: bold;
  font-size: 0.7rem;

  margin-bottom: 0.2rem;
  text-align: left;

  color: rgb(241, 241, 241);
}