.section {
  width: 450px;
  margin: 2rem auto;
}

.section span {
  color: rgb(35, 177, 0);
}

.section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}