.title {
  padding-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.title span {
  color: rgb(35, 177, 0);
}

.message {
  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
  padding-top: 3rem;

  color: rgb(233, 233, 233);
}